


<div id="parent">
	<h2>Login</h2>
	<form id="form_login" action="action_page.php">
		<table>
			<tr>
				<td><b>First name:</b></td>
				<td><input type="text"   placeholder="Enter user" name="Username"></td>
			</tr>
			<tr>
				<td><b>Password:</b></td>
				<td><input id="txtPassword" type="password"   placeholder="Enter password" name="pwd"></td>
			</tr>
			<tr>
				<td><b>Remember me</b></td>
				<td><input type="button" id="1" value="ON" style="color: black" onclick="toggle(this);" /></td>
			</tr>
		</table>
	</form>
</div>
