


<div id="parent"   ng-controller="CtrlLogin">
	<h2>Login</h2>
	<form id="form_login"  >
		<table>
			<tr>
				<td><b>First name:</b></td>
				<td><input type="text" placeholder="Enter user" name="Username"></td>
			</tr>
			<tr>
				<td><b>Password:</b></td>
				<td><input id="txtPassword" type="password" placeholder="Enter password" name="pwd"></td>
			</tr>
			<tr>



 area = {{area}}


				<td>
					<button type="submit" class="btn"  ng-click="myFunc()" >Login</button>
				</td>
			</tr>
		</table>
	</form>
</div>
