
<div class="wrapper2">
	<div class="col-izq">
		<div id=cssmenu w3-test-directive></div>
	</div>
	<div class="col-der">Columna en %</div>
</div>


<div id="vertgraph">
	<ul>
		<li class="critical" style="height: 150px;">22</li>
		<li class="high" style="height: 80px;">7</li>
		<li class="medium" style="height: 50px;">3</li>
		<li class="low" style="height: 90px;">8</li>
		<li class="info" style="height: 40px;">2</li>
	</ul>
</div>



<!-- <div class="parent"> -->
<!-- 	<div class="ease">ease</div> -->
<!-- 	<div class="easein">ease-in</div> -->
<!-- 	<div class="easeout">ease-out</div> -->
<!-- 	<div class="easeinout">ease-in-out</div> -->
<!-- 	<div class="linear">linear</div> -->
<!-- 	<div class="cb">cubic-bezier(0.2,-2,0.8,2)</div> -->
<!-- </div> -->